.header {
    background-color: #004d99;
    color: #fff;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      .header{
        background-color: transparent;
      }
    }
  }
  
  .header .logo h1 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;

    @media (max-width: 768px) {
      font-size: 1em;
    }
  }
  
  /* Navbar links (desktop view) */
  .nav-links {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #31a689;
  }
  
  /* Hamburger menu button */
  .hamburger {
    display: none;
    flex-direction: column;
    background-color: transparent;
    border: none;
    gap: 5px;
    cursor: pointer;
    z-index: 101;
    position: fixed;
    top: 1.2em;
    right: 2em;
  }
  
  .hamburger.hidden {
    display: none;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.3s ease;
  }
  
  /* Mobile styling */
  @media (max-width: 768px) {
    /* Adjust container layout for mobile */
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1em;
    }
  
    /* Show hamburger menu on mobile */
    .hamburger {
      display: flex;
    }
  
    /* Hide the desktop nav-links and style the mobile menu */
    .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #004d99;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100%);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  
    /* Open state for mobile menu */
    .nav-links.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
      overflow: hidden;
    }
  
    .nav-links a {
      font-size: 1.5em;
    }
  
    /* Close button styling within mobile menu */
    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1.5em;
      color: #fff;
      background: none;
      border: none;
      cursor: pointer;
      display: block;
    }

  }


  